<container>
    <row class="header">
        <columns>
            <spacer size="16"></spacer>
            <h1 class="text-center">Welcome {{ '{{' }} email {{ '}}' }}!</h1>
        </columns>
    </row>
</container>
