{% extends "@DisjfaMail/layout.html.twig" %}

{% trans_default_domain 'disjfa-mail' %}

{% block page_title %}
    {{ 'title.error' | trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <h4>{{ 'title.error' | trans }}</h4>
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    </div>
{% endblock %}
